<h1>페북 게시판</h1>



<% @posts.each do |post| %>
<!-- 아래 세 코드는 같은 의미 -->
<%= post.id%>번째 글 | <%= link_to "#{post.title}", post_path(post) %><br>
<!--<%= post.id%>번째 글 | <%= link_to "#{post.title}", "/posts/#{post.id}" %><br>
<%= post.id%>번째 글 | <a href="/posts/<%= post.id%>"><%= post.title %></a>-->
<%end%>

<!-- 아래 세 코드는 같은 의미 -->
<!--<a href="/posts/new">게시물 쓰기</a>
<%= link_to "게시물 쓰기","/posts/new" %>-->
<%= link_to "게시물 쓰기", new_post_path %>

