<h1><%= @post.id%>번째 게시물</h1>

<p>제목 : <%= @post.title%></p>
<p>내용 : <%= @post.content%></p>

<%= link_to "수정",edit_post_path(@post.id)%>
<%= link_to "삭제",post_path(@post.id), method:"delete", data: {confirm: "진짜 지울꺼니?"}%>